
  <p><%= image_tag product.image.tiny %></p>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
    <p><%= quantity%></p>
    <p><%= product.price_cents * quantity / 100.00 %></p>