<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      <div class="new-review">
          <%= form_for [@product, @review] do |f| %>
          <table>
            <tr>
              <th class="input-description">Description:</th>
              <th class="input-rating">Rating:</th>
            <tr>
            <tr>
              <td class="input-description"><%= f.text_area :description %>
              </td>
              <td class="input-rating"> <%= f.select(:rating, [1,2,3,4,5]) %>
              </td>
            </tr>
          </table>
          <span class="the-Submit"><%= f.submit "Submit" %></span>
          <% end %>
      </div>

      <div class="review-class">
        <table class="review-table">
          <tr>
            <th class="review-name" width='150px' height="40px">User</th>
            <th class="review-description" width='300px' height="40px">Description</th>
            <th class="review-rating" height="40px">Rating</th>
          </tr>
          <% @product.review.reverse_order.each do |r|%>
          <tr>
            <td class="review-name" width='150px' height="40px"><%= r.user.first_name %> <%= r.user.last_name %></td>
            <td class="review-description" width='300px' height="40px"><%= r.description %></td>
            <td class="review-rating" height="40px"><%= r.rating %></td>
            <% if current_user && current_user.email == r.user.email %>
            <td><%= button_to "delete", [@product, r], :method  => :delete, class: "btn-delete" %></td>
            <% end %>
          </tr>
          <% end %>
          </table>
      </div>

    </div>

  </article>

